USE [master]
GO
/****** Object:  Database [Olimp]    Script Date: 07.11.2023 4:33:51 ******/
CREATE DATABASE [Olimp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Olimp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Olimp.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Olimp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\Olimp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Olimp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Olimp]
GO
/****** Object:  Table [dbo].[Carriers]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Carriers](
	[CarrierID] [int] NOT NULL,
	[CarrierName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Carriers__CB82057936BAAEAA] PRIMARY KEY CLUSTERED 
(
	[CarrierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Districts]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Districts](
	[DistrictID] [int] NOT NULL,
	[DistrictName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__District__85FDA4A6AF0EF68C] PRIMARY KEY CLUSTERED 
(
	[DistrictID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmployeeID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Patronymic] [varchar](50) NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Employee__7AD04FF196BDE307] PRIMARY KEY CLUSTERED 
(
	[EmployeeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Groups]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Groups](
	[GroupID] [int] NOT NULL,
	[GroupName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Groups__149AF30AAA6F3163] PRIMARY KEY CLUSTERED 
(
	[GroupID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupUsers]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupUsers](
	[GroupID] [int] NOT NULL,
	[UserID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Passengers]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Passengers](
	[PassengerID] [int] NOT NULL,
	[PaymentID] [int] NOT NULL,
 CONSTRAINT [PK__Passenge__88915F903DE76316] PRIMARY KEY CLUSTERED 
(
	[PassengerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payments]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payments](
	[PaymentID] [int] NOT NULL,
	[RouteCost] [decimal](10, 2) NOT NULL,
	[CashPayment] [bit] NOT NULL,
 CONSTRAINT [PK__Payments__9B556A58C591285E] PRIMARY KEY CLUSTERED 
(
	[PaymentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PublicTransport]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PublicTransport](
	[PublicTransportID] [int] NOT NULL,
	[TransportTypeID] [int] NOT NULL,
	[PublicTransportNumber] [varchar](50) NOT NULL,
	[DepotNumber] [varchar](50) NOT NULL,
 CONSTRAINT [PK__PublicTr__45A8CF8D2B713555] PRIMARY KEY CLUSTERED 
(
	[PublicTransportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Roles]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Roles](
	[RoleID] [int] NOT NULL,
	[RoleName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Roles__8AFACE3A6A269274] PRIMARY KEY CLUSTERED 
(
	[RoleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteCarriers]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteCarriers](
	[RouteCarrierID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
	[CarrierID] [int] NOT NULL,
 CONSTRAINT [PK__RouteCar__EE4AA7FB0782B223] PRIMARY KEY CLUSTERED 
(
	[RouteCarrierID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteConductors]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteConductors](
	[RouteConductorID] [int] NOT NULL,
	[RouteID] [int] NULL,
	[EmployeeID] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RouteConductorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteCosts]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteCosts](
	[RouteCostID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__RouteCos__3F57F7F980737B1D] PRIMARY KEY CLUSTERED 
(
	[RouteCostID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteDrivers]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteDrivers](
	[RouteDriverID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL,
 CONSTRAINT [PK__RouteDri__80C16E27D435BCD5] PRIMARY KEY CLUSTERED 
(
	[RouteDriverID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteEmployees]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteEmployees](
	[RouteID] [int] NOT NULL,
	[EmployeeID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RoutePublicTransport]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RoutePublicTransport](
	[RoutePublicTransportID] [int] NOT NULL,
	[PublicTransportID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
 CONSTRAINT [PK__RoutePub__FBB8043BBCD3E7CD] PRIMARY KEY CLUSTERED 
(
	[RoutePublicTransportID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Routes]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Routes](
	[RouteID] [int] NOT NULL,
	[CarrierID] [int] NOT NULL,
	[RouteNumber] [varchar](50) NOT NULL,
	[StartingDistrictID] [int] NOT NULL,
	[EndingDistrictID] [int] NOT NULL,
	[TravelTime] [time](7) NOT NULL,
	[DaysOfOperation] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Routes__80979AAD692EFB8F] PRIMARY KEY CLUSTERED 
(
	[RouteID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteSchedule]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteSchedule](
	[RouteScheduleID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
	[ScheduleID] [int] NOT NULL,
	[ScheduleDate] [date] NULL,
 CONSTRAINT [PK__RouteSch__5D66E2376386B962] PRIMARY KEY CLUSTERED 
(
	[RouteScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteScheduleChanges]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteScheduleChanges](
	[RouteScheduleChangeID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
	[ScheduleChangeID] [int] NOT NULL,
	[ScheduleDate] [date] NULL,
 CONSTRAINT [PK__RouteSch__D8B57552ADF36A1D] PRIMARY KEY CLUSTERED 
(
	[RouteScheduleChangeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteStops]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteStops](
	[RouteStopID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
	[StopID] [int] NOT NULL,
 CONSTRAINT [PK__RouteSto__37A9A21AB559E978] PRIMARY KEY CLUSTERED 
(
	[RouteStopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RouteTariffs]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RouteTariffs](
	[RouteTariffID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
	[TariffID] [int] NOT NULL,
 CONSTRAINT [PK__RouteTar__0AEF5C6AC4E5D897] PRIMARY KEY CLUSTERED 
(
	[RouteTariffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Schedule]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Schedule](
	[ScheduleID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
	[DepartureTime] [time](7) NOT NULL,
	[DepartureDateTime] [datetime] NULL,
	[FlightStatus] [varchar](50) NULL,
 CONSTRAINT [PK__Schedule__9C8A5B692BCD62EA] PRIMARY KEY CLUSTERED 
(
	[ScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ScheduleChanges]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ScheduleChanges](
	[ScheduleChangeID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
	[DepartureTime] [time](7) NOT NULL,
	[Reason] [varchar](10) NULL,
 CONSTRAINT [PK__Schedule__D2AB8DF91491E33C] PRIMARY KEY CLUSTERED 
(
	[ScheduleChangeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Stops]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Stops](
	[StopID] [int] NOT NULL,
	[StopName] [varchar](50) NOT NULL,
	[Location] [varchar](50) NOT NULL,
	[ShelterAvailability] [bit] NOT NULL,
 CONSTRAINT [PK__Stops__EB6A38D4B4E99B17] PRIMARY KEY CLUSTERED 
(
	[StopID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[StopSchedule]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[StopSchedule](
	[StopScheduleID] [int] NOT NULL,
	[StopID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
	[ArrivalTime] [time](7) NOT NULL,
	[DepartureTime] [time](7) NOT NULL,
 CONSTRAINT [PK__StopSche__BC92A71A8BEC3536] PRIMARY KEY CLUSTERED 
(
	[StopScheduleID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tariffs]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tariffs](
	[TariffID] [int] NOT NULL,
	[TransportTypeID] [int] NOT NULL,
	[TariffName] [varchar](50) NOT NULL,
	[Price] [decimal](10, 2) NOT NULL,
 CONSTRAINT [PK__Tariffs__EBAF9D93845419D4] PRIMARY KEY CLUSTERED 
(
	[TariffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TicketPassengers]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TicketPassengers](
	[TicketID] [int] NOT NULL,
	[PassengerID] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tickets]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tickets](
	[TicketID] [int] NOT NULL,
	[RouteID] [int] NOT NULL,
	[TariffID] [int] NOT NULL,
	[TravelDate] [date] NOT NULL,
	[PaymentTime] [datetime] NOT NULL,
 CONSTRAINT [PK__Tickets__712CC627F8B2357F] PRIMARY KEY CLUSTERED 
(
	[TicketID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TransportTypes]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TransportTypes](
	[TransportTypeID] [int] NOT NULL,
	[TransportTypeName] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Transpor__D6938604458659DD] PRIMARY KEY CLUSTERED 
(
	[TransportTypeID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 07.11.2023 4:33:51 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserID] [int] NOT NULL,
	[RoleID] [int] NOT NULL,
	[Username] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
 CONSTRAINT [PK__Users__1788CCAC19572A67] PRIMARY KEY CLUSTERED 
(
	[UserID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Index [IX_Schedule_DepartureTime]    Script Date: 07.11.2023 4:33:51 ******/
CREATE NONCLUSTERED INDEX [IX_Schedule_DepartureTime] ON [dbo].[Schedule]
(
	[DepartureTime] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Employees]  WITH CHECK ADD  CONSTRAINT [FK__Employees__RoleI__160F4887] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Employees] CHECK CONSTRAINT [FK__Employees__RoleI__160F4887]
GO
ALTER TABLE [dbo].[GroupUsers]  WITH CHECK ADD  CONSTRAINT [FK__GroupUser__Group__2739D489] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Groups] ([GroupID])
GO
ALTER TABLE [dbo].[GroupUsers] CHECK CONSTRAINT [FK__GroupUser__Group__2739D489]
GO
ALTER TABLE [dbo].[GroupUsers]  WITH CHECK ADD  CONSTRAINT [FK__GroupUser__UserI__282DF8C2] FOREIGN KEY([UserID])
REFERENCES [dbo].[Users] ([UserID])
GO
ALTER TABLE [dbo].[GroupUsers] CHECK CONSTRAINT [FK__GroupUser__UserI__282DF8C2]
GO
ALTER TABLE [dbo].[Passengers]  WITH CHECK ADD  CONSTRAINT [FK__Passenger__Payme__395884C4] FOREIGN KEY([PaymentID])
REFERENCES [dbo].[Payments] ([PaymentID])
GO
ALTER TABLE [dbo].[Passengers] CHECK CONSTRAINT [FK__Passenger__Payme__395884C4]
GO
ALTER TABLE [dbo].[PublicTransport]  WITH CHECK ADD  CONSTRAINT [FK__PublicTra__Trans__02FC7413] FOREIGN KEY([TransportTypeID])
REFERENCES [dbo].[TransportTypes] ([TransportTypeID])
GO
ALTER TABLE [dbo].[PublicTransport] CHECK CONSTRAINT [FK__PublicTra__Trans__02FC7413]
GO
ALTER TABLE [dbo].[RouteCarriers]  WITH CHECK ADD  CONSTRAINT [FK__RouteCarr__Carri__208CD6FA] FOREIGN KEY([CarrierID])
REFERENCES [dbo].[Carriers] ([CarrierID])
GO
ALTER TABLE [dbo].[RouteCarriers] CHECK CONSTRAINT [FK__RouteCarr__Carri__208CD6FA]
GO
ALTER TABLE [dbo].[RouteCarriers]  WITH CHECK ADD  CONSTRAINT [FK__RouteCarr__Route__1F98B2C1] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[RouteCarriers] CHECK CONSTRAINT [FK__RouteCarr__Route__1F98B2C1]
GO
ALTER TABLE [dbo].[RouteConductors]  WITH CHECK ADD  CONSTRAINT [FK__RouteCond__Emplo__4E53A1AA] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[RouteConductors] CHECK CONSTRAINT [FK__RouteCond__Emplo__4E53A1AA]
GO
ALTER TABLE [dbo].[RouteConductors]  WITH CHECK ADD  CONSTRAINT [FK__RouteCond__Route__4D5F7D71] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[RouteConductors] CHECK CONSTRAINT [FK__RouteCond__Route__4D5F7D71]
GO
ALTER TABLE [dbo].[RouteCosts]  WITH CHECK ADD  CONSTRAINT [FK__RouteCost__Route__42E1EEFE] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[RouteCosts] CHECK CONSTRAINT [FK__RouteCost__Route__42E1EEFE]
GO
ALTER TABLE [dbo].[RouteDrivers]  WITH CHECK ADD  CONSTRAINT [FK__RouteDriv__Emplo__4A8310C6] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[RouteDrivers] CHECK CONSTRAINT [FK__RouteDriv__Emplo__4A8310C6]
GO
ALTER TABLE [dbo].[RouteDrivers]  WITH CHECK ADD  CONSTRAINT [FK__RouteDriv__Route__498EEC8D] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[RouteDrivers] CHECK CONSTRAINT [FK__RouteDriv__Route__498EEC8D]
GO
ALTER TABLE [dbo].[RouteEmployees]  WITH CHECK ADD  CONSTRAINT [FK__RouteEmpl__Emplo__18EBB532] FOREIGN KEY([EmployeeID])
REFERENCES [dbo].[Employees] ([EmployeeID])
GO
ALTER TABLE [dbo].[RouteEmployees] CHECK CONSTRAINT [FK__RouteEmpl__Emplo__18EBB532]
GO
ALTER TABLE [dbo].[RouteEmployees]  WITH CHECK ADD  CONSTRAINT [FK__RouteEmpl__Route__17F790F9] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[RouteEmployees] CHECK CONSTRAINT [FK__RouteEmpl__Route__17F790F9]
GO
ALTER TABLE [dbo].[RoutePublicTransport]  WITH CHECK ADD  CONSTRAINT [FK__RoutePubl__Publi__0C85DE4D] FOREIGN KEY([PublicTransportID])
REFERENCES [dbo].[PublicTransport] ([PublicTransportID])
GO
ALTER TABLE [dbo].[RoutePublicTransport] CHECK CONSTRAINT [FK__RoutePubl__Publi__0C85DE4D]
GO
ALTER TABLE [dbo].[RoutePublicTransport]  WITH CHECK ADD  CONSTRAINT [FK__RoutePubl__Route__0D7A0286] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[RoutePublicTransport] CHECK CONSTRAINT [FK__RoutePubl__Route__0D7A0286]
GO
ALTER TABLE [dbo].[RoutePublicTransport]  WITH CHECK ADD  CONSTRAINT [FK_RoutePublicTransport_Routes] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[RoutePublicTransport] CHECK CONSTRAINT [FK_RoutePublicTransport_Routes]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [FK__Routes__CarrierI__07C12930] FOREIGN KEY([CarrierID])
REFERENCES [dbo].[Carriers] ([CarrierID])
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [FK__Routes__CarrierI__07C12930]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [FK__Routes__EndingDi__09A971A2] FOREIGN KEY([EndingDistrictID])
REFERENCES [dbo].[Districts] ([DistrictID])
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [FK__Routes__EndingDi__09A971A2]
GO
ALTER TABLE [dbo].[Routes]  WITH CHECK ADD  CONSTRAINT [FK__Routes__Starting__08B54D69] FOREIGN KEY([StartingDistrictID])
REFERENCES [dbo].[Districts] ([DistrictID])
GO
ALTER TABLE [dbo].[Routes] CHECK CONSTRAINT [FK__Routes__Starting__08B54D69]
GO
ALTER TABLE [dbo].[RouteSchedule]  WITH CHECK ADD  CONSTRAINT [FK__RouteSche__Route__2B0A656D] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[RouteSchedule] CHECK CONSTRAINT [FK__RouteSche__Route__2B0A656D]
GO
ALTER TABLE [dbo].[RouteSchedule]  WITH CHECK ADD  CONSTRAINT [FK__RouteSche__Sched__2BFE89A6] FOREIGN KEY([ScheduleID])
REFERENCES [dbo].[Schedule] ([ScheduleID])
GO
ALTER TABLE [dbo].[RouteSchedule] CHECK CONSTRAINT [FK__RouteSche__Sched__2BFE89A6]
GO
ALTER TABLE [dbo].[RouteScheduleChanges]  WITH CHECK ADD  CONSTRAINT [FK__RouteSche__Route__2EDAF651] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[RouteScheduleChanges] CHECK CONSTRAINT [FK__RouteSche__Route__2EDAF651]
GO
ALTER TABLE [dbo].[RouteScheduleChanges]  WITH CHECK ADD  CONSTRAINT [FK__RouteSche__Sched__2FCF1A8A] FOREIGN KEY([ScheduleChangeID])
REFERENCES [dbo].[ScheduleChanges] ([ScheduleChangeID])
GO
ALTER TABLE [dbo].[RouteScheduleChanges] CHECK CONSTRAINT [FK__RouteSche__Sched__2FCF1A8A]
GO
ALTER TABLE [dbo].[RouteStops]  WITH CHECK ADD  CONSTRAINT [FK__RouteStop__Route__1BC821DD] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[RouteStops] CHECK CONSTRAINT [FK__RouteStop__Route__1BC821DD]
GO
ALTER TABLE [dbo].[RouteStops]  WITH CHECK ADD  CONSTRAINT [FK__RouteStop__StopI__1CBC4616] FOREIGN KEY([StopID])
REFERENCES [dbo].[Stops] ([StopID])
GO
ALTER TABLE [dbo].[RouteStops] CHECK CONSTRAINT [FK__RouteStop__StopI__1CBC4616]
GO
ALTER TABLE [dbo].[RouteTariffs]  WITH CHECK ADD  CONSTRAINT [FK__RouteTari__Route__3F115E1A] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[RouteTariffs] CHECK CONSTRAINT [FK__RouteTari__Route__3F115E1A]
GO
ALTER TABLE [dbo].[RouteTariffs]  WITH CHECK ADD  CONSTRAINT [FK__RouteTari__Tarif__40058253] FOREIGN KEY([TariffID])
REFERENCES [dbo].[Tariffs] ([TariffID])
GO
ALTER TABLE [dbo].[RouteTariffs] CHECK CONSTRAINT [FK__RouteTari__Tarif__40058253]
GO
ALTER TABLE [dbo].[Schedule]  WITH CHECK ADD  CONSTRAINT [FK__Schedule__RouteI__10566F31] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[Schedule] CHECK CONSTRAINT [FK__Schedule__RouteI__10566F31]
GO
ALTER TABLE [dbo].[ScheduleChanges]  WITH CHECK ADD  CONSTRAINT [FK__ScheduleC__Route__1332DBDC] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[ScheduleChanges] CHECK CONSTRAINT [FK__ScheduleC__Route__1332DBDC]
GO
ALTER TABLE [dbo].[StopSchedule]  WITH CHECK ADD  CONSTRAINT [FK__StopSched__Route__46B27FE2] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[StopSchedule] CHECK CONSTRAINT [FK__StopSched__Route__46B27FE2]
GO
ALTER TABLE [dbo].[StopSchedule]  WITH CHECK ADD  CONSTRAINT [FK__StopSched__StopI__45BE5BA9] FOREIGN KEY([StopID])
REFERENCES [dbo].[Stops] ([StopID])
GO
ALTER TABLE [dbo].[StopSchedule] CHECK CONSTRAINT [FK__StopSched__StopI__45BE5BA9]
GO
ALTER TABLE [dbo].[Tariffs]  WITH CHECK ADD  CONSTRAINT [FK__Tariffs__Transpo__32AB8735] FOREIGN KEY([TransportTypeID])
REFERENCES [dbo].[TransportTypes] ([TransportTypeID])
GO
ALTER TABLE [dbo].[Tariffs] CHECK CONSTRAINT [FK__Tariffs__Transpo__32AB8735]
GO
ALTER TABLE [dbo].[TicketPassengers]  WITH CHECK ADD  CONSTRAINT [FK__TicketPas__Passe__3C34F16F] FOREIGN KEY([PassengerID])
REFERENCES [dbo].[Passengers] ([PassengerID])
GO
ALTER TABLE [dbo].[TicketPassengers] CHECK CONSTRAINT [FK__TicketPas__Passe__3C34F16F]
GO
ALTER TABLE [dbo].[TicketPassengers]  WITH CHECK ADD  CONSTRAINT [FK__TicketPas__Ticke__3B40CD36] FOREIGN KEY([TicketID])
REFERENCES [dbo].[Tickets] ([TicketID])
GO
ALTER TABLE [dbo].[TicketPassengers] CHECK CONSTRAINT [FK__TicketPas__Ticke__3B40CD36]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK__Tickets__RouteID__3587F3E0] FOREIGN KEY([RouteID])
REFERENCES [dbo].[Routes] ([RouteID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK__Tickets__RouteID__3587F3E0]
GO
ALTER TABLE [dbo].[Tickets]  WITH CHECK ADD  CONSTRAINT [FK__Tickets__TariffI__367C1819] FOREIGN KEY([TariffID])
REFERENCES [dbo].[Tariffs] ([TariffID])
GO
ALTER TABLE [dbo].[Tickets] CHECK CONSTRAINT [FK__Tickets__TariffI__367C1819]
GO
ALTER TABLE [dbo].[Users]  WITH CHECK ADD  CONSTRAINT [FK__Users__RoleID__236943A5] FOREIGN KEY([RoleID])
REFERENCES [dbo].[Roles] ([RoleID])
GO
ALTER TABLE [dbo].[Users] CHECK CONSTRAINT [FK__Users__RoleID__236943A5]
GO
USE [master]
GO
