USE [master]
GO
/****** Object:  Database [21.102-24_kafedra]    Script Date: 03.10.2023 0:30:26 ******/
CREATE DATABASE [21.102-24_kafedra]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'21.102-24_kafedra', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\21.102-24_kafedra.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'21.102-24_kafedra_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\21.102-24_kafedra_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [21.102-24_kafedra].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [21.102-24_kafedra]
GO
/****** Object:  Table [dbo].[Detachment]    Script Date: 03.10.2023 0:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Detachment](
	[DetachmentID] [int] NOT NULL,
	[KafedraID] [int] NULL,
	[GroupNumber] [nvarchar](10) NULL,
	[Year_of_admission] [int] NULL,
	[Course] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[DetachmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Disciplines]    Script Date: 03.10.2023 0:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Disciplines](
	[DisciplineID] [int] NOT NULL,
	[KafedraID] [int] NULL,
	[DisciplineName] [nvarchar](255) NULL,
	[Total_number_of_hours] [int] NULL,
	[Form_of_control] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[DisciplineID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculties]    Script Date: 03.10.2023 0:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculties](
	[FacultyID] [int] NOT NULL,
	[FacultyName] [nvarchar](255) NULL,
	[DeanFIO] [nvarchar](255) NULL,
	[DeanOfficeRoomNumber] [int] NULL,
	[DeanOfficePhone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[FacultyID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kafedra]    Script Date: 03.10.2023 0:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kafedra](
	[KafedratID] [int] NOT NULL,
	[FacultyID] [int] NULL,
	[KafedraName] [nvarchar](255) NULL,
	[HeadOfKafedraFIO] [nvarchar](255) NULL,
	[KafedraOfficeRoomNumber] [int] NULL,
	[KafedraOfficePhone] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[KafedratID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Statement]    Script Date: 03.10.2023 0:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Statement](
	[StatementID] [int] NOT NULL,
	[GroupID] [int] NULL,
	[DisciplineID] [int] NULL,
	[TeacherID] [int] NULL,
	[AcademicYear] [nvarchar](20) NULL,
	[Semester] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[StatementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Students]    Script Date: 03.10.2023 0:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Students](
	[StudentID] [int] NOT NULL,
	[GroupID] [int] NULL,
	[StudentFIO] [nvarchar](255) NULL,
	[Address] [nvarchar](255) NULL,
	[BirthYear] [int] NULL,
 CONSTRAINT [PK__Students__32C52A79860BAA35] PRIMARY KEY CLUSTERED 
(
	[StudentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Sub_statement]    Script Date: 03.10.2023 0:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Sub_statement](
	[Sub_statementID] [int] NOT NULL,
	[StatementID] [int] NULL,
	[StudentID] [int] NULL,
	[Score] [nvarchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[Sub_statementID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Teachers]    Script Date: 03.10.2023 0:30:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Teachers](
	[TeacherID] [int] NOT NULL,
	[KafedraID] [int] NULL,
	[Teacher_surname] [nvarchar](255) NULL,
	[Teacher_name] [nvarchar](255) NULL,
	[Teacher_patronymic] [nvarchar](255) NULL,
	[Position] [nvarchar](50) NULL,
	[AcademicRank] [nvarchar](50) NULL,
	[EmploymentRate] [decimal](5, 2) NULL,
	[YearsOfExperience] [int] NULL,
	[Age] [int] NULL,
	[Address] [nvarchar](255) NULL,
 CONSTRAINT [PK__Instruct__9D010B7B0BAE8BA4] PRIMARY KEY CLUSTERED 
(
	[TeacherID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Detachment]  WITH CHECK ADD FOREIGN KEY([KafedraID])
REFERENCES [dbo].[Kafedra] ([KafedratID])
GO
ALTER TABLE [dbo].[Disciplines]  WITH CHECK ADD FOREIGN KEY([KafedraID])
REFERENCES [dbo].[Kafedra] ([KafedratID])
GO
ALTER TABLE [dbo].[Kafedra]  WITH CHECK ADD FOREIGN KEY([FacultyID])
REFERENCES [dbo].[Faculties] ([FacultyID])
GO
ALTER TABLE [dbo].[Statement]  WITH CHECK ADD FOREIGN KEY([DisciplineID])
REFERENCES [dbo].[Disciplines] ([DisciplineID])
GO
ALTER TABLE [dbo].[Statement]  WITH CHECK ADD FOREIGN KEY([GroupID])
REFERENCES [dbo].[Detachment] ([DetachmentID])
GO
ALTER TABLE [dbo].[Statement]  WITH CHECK ADD  CONSTRAINT [FK__Transcrip__Instr__5070F446] FOREIGN KEY([TeacherID])
REFERENCES [dbo].[Teachers] ([TeacherID])
GO
ALTER TABLE [dbo].[Statement] CHECK CONSTRAINT [FK__Transcrip__Instr__5070F446]
GO
ALTER TABLE [dbo].[Students]  WITH CHECK ADD  CONSTRAINT [FK__Students__GroupI__46E78A0C] FOREIGN KEY([GroupID])
REFERENCES [dbo].[Detachment] ([DetachmentID])
GO
ALTER TABLE [dbo].[Students] CHECK CONSTRAINT [FK__Students__GroupI__46E78A0C]
GO
ALTER TABLE [dbo].[Sub_statement]  WITH CHECK ADD  CONSTRAINT [FK__Grades__StudentI__5441852A] FOREIGN KEY([StudentID])
REFERENCES [dbo].[Students] ([StudentID])
GO
ALTER TABLE [dbo].[Sub_statement] CHECK CONSTRAINT [FK__Grades__StudentI__5441852A]
GO
ALTER TABLE [dbo].[Sub_statement]  WITH CHECK ADD FOREIGN KEY([StatementID])
REFERENCES [dbo].[Statement] ([StatementID])
GO
ALTER TABLE [dbo].[Teachers]  WITH CHECK ADD  CONSTRAINT [FK__Instructo__Depar__3F466844] FOREIGN KEY([KafedraID])
REFERENCES [dbo].[Kafedra] ([KafedratID])
GO
ALTER TABLE [dbo].[Teachers] CHECK CONSTRAINT [FK__Instructo__Depar__3F466844]
GO
USE [master]
GO
