USE [master]
GO
/****** Object:  Database [21.102-08-cppp]    Script Date: 12.01.2024 17:46:48 ******/
CREATE DATABASE [21.102-08-cppp]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'21.102-08-cppp', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\21.102-08-cppp.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'21.102-08-cppp_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\21.102-08-cppp_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [21.102-08-cppp].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [21.102-08-cppp]
GO
/****** Object:  Table [dbo].[Accessories]    Script Date: 12.01.2024 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessories](
	[ID_Accessories] [int] NOT NULL,
	[Name] [varchar](150) NOT NULL,
	[Type] [varchar](150) NOT NULL,
	[Width] [varchar](150) NOT NULL,
	[Lenght] [varchar](150) NULL,
	[Weight] [varchar](150) NULL,
	[Image] [varchar](50) NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_Accessories] PRIMARY KEY CLUSTERED 
(
	[ID_Accessories] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Accessories_product]    Script Date: 12.01.2024 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Accessories_product](
	[ID_Accessories] [int] NOT NULL,
	[ID_Product] [int] NOT NULL,
	[Placement] [varchar](50) NOT NULL,
	[Width] [varchar](50) NULL,
	[Lenght] [varchar](50) NULL,
	[Turn] [bit] NULL,
	[Quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Cloth]    Script Date: 12.01.2024 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Cloth](
	[ID_Cloth] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Color] [varchar](50) NULL,
	[Picture] [varchar](150) NULL,
	[Structure] [varchar](50) NULL,
	[Width] [varchar](50) NOT NULL,
	[Length] [varchar](50) NOT NULL,
	[Price] [money] NOT NULL,
 CONSTRAINT [PK_Cloth] PRIMARY KEY CLUSTERED 
(
	[ID_Cloth] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fabric_Warehouse]    Script Date: 12.01.2024 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fabric_Warehouse](
	[ID_Roll] [int] NOT NULL,
	[ID_Cloth] [int] NOT NULL,
	[Lenght] [int] NOT NULL,
 CONSTRAINT [PK_Fabric_Warehouse] PRIMARY KEY CLUSTERED 
(
	[ID_Roll] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Fabrics_product]    Script Date: 12.01.2024 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Fabrics_product](
	[ID_Cloth] [int] NOT NULL,
	[ID_Product] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Hardware_warehouse]    Script Date: 12.01.2024 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Hardware_warehouse](
	[ID_Party] [int] NOT NULL,
	[ID_Accessories] [int] NOT NULL,
	[Quantity] [int] NOT NULL,
 CONSTRAINT [PK_Hardware_warehouse] PRIMARY KEY CLUSTERED 
(
	[ID_Party] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 12.01.2024 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[ID_Order] [int] NOT NULL,
	[date] [date] NOT NULL,
	[Stage] [int] NOT NULL,
	[ID_User] [int] NULL,
	[Price] [money] NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[ID_Order] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ordered_products]    Script Date: 12.01.2024 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ordered_products](
	[ID_Product] [int] NOT NULL,
	[ID_Order] [int] NOT NULL,
	[quantity] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Product]    Script Date: 12.01.2024 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Product](
	[ID_Product] [int] NOT NULL,
	[Name] [varchar](50) NOT NULL,
	[Width] [varchar](50) NOT NULL,
	[Length] [varchar](50) NOT NULL,
	[Image] [varchar](50) NULL,
	[Comment] [varchar](50) NULL,
 CONSTRAINT [PK_Product] PRIMARY KEY CLUSTERED 
(
	[ID_Product] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 12.01.2024 17:46:48 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[ID_User] [int] NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [varchar](50) NOT NULL,
	[Role] [varchar](50) NOT NULL,
	[Name] [varchar](50) NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[ID_User] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
INSERT [dbo].[Accessories] ([ID_Accessories], [Name], [Type], [Width], [Lenght], [Weight], [Image], [Price]) VALUES (1, N'НИТКИ ДОР-ТАК 400 ЯРДОВ', N'Нитки', N'9 мм', N'6 мм', N'29 гр', N'', 121.0000)
INSERT [dbo].[Accessories] ([ID_Accessories], [Name], [Type], [Width], [Lenght], [Weight], [Image], [Price]) VALUES (2, N'НИТКИ МУЛИНЕ 100 ШТ/УП', N'Нитки', N'1 мм', N'1 мм', N'4 гр', N'', 379.0000)
INSERT [dbo].[Accessories] ([ID_Accessories], [Name], [Type], [Width], [Lenght], [Weight], [Image], [Price]) VALUES (3, N'НИТКИ НЕЙЛОН 210/3 25Г 10ШТ/УП', N'Нитки', N'2 мм', N'2 мм', N'17 гр', N'', 319.0000)
GO
INSERT [dbo].[Cloth] ([ID_Cloth], [Name], [Color], [Picture], [Structure], [Width], [Length], [Price]) VALUES (1, N'Шарлотта', N'красный', N'вензель', N'100% полиэстер', N'280 см', N'145 м', 1576.0000)
INSERT [dbo].[Cloth] ([ID_Cloth], [Name], [Color], [Picture], [Structure], [Width], [Length], [Price]) VALUES (2, N'Шарлотта', N'шампань', N'гладь', N'100% шелк', N'220 см', N'100 м', 281.0000)
INSERT [dbo].[Cloth] ([ID_Cloth], [Name], [Color], [Picture], [Structure], [Width], [Length], [Price]) VALUES (3, N'Тюль «Семечки»', N'кремовый', N'гладь', N'полиэфир', N'280 см', N'100 см', 698.0000)
GO
INSERT [dbo].[Product] ([ID_Product], [Name], [Width], [Length], [Image], [Comment]) VALUES (1, N'Скатерть', N'200 см', N'200 см', NULL, NULL)
INSERT [dbo].[Product] ([ID_Product], [Name], [Width], [Length], [Image], [Comment]) VALUES (2, N'Салфетка', N'40 см', N'40 см', NULL, NULL)
INSERT [dbo].[Product] ([ID_Product], [Name], [Width], [Length], [Image], [Comment]) VALUES (3, N'Плед Scotland', N'140 см', N'200 см', NULL, NULL)
GO
ALTER TABLE [dbo].[Accessories_product]  WITH CHECK ADD  CONSTRAINT [FK_Accessories_product_Accessories] FOREIGN KEY([ID_Accessories])
REFERENCES [dbo].[Accessories] ([ID_Accessories])
GO
ALTER TABLE [dbo].[Accessories_product] CHECK CONSTRAINT [FK_Accessories_product_Accessories]
GO
ALTER TABLE [dbo].[Accessories_product]  WITH CHECK ADD  CONSTRAINT [FK_Accessories_product_Product] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID_Product])
GO
ALTER TABLE [dbo].[Accessories_product] CHECK CONSTRAINT [FK_Accessories_product_Product]
GO
ALTER TABLE [dbo].[Fabric_Warehouse]  WITH CHECK ADD  CONSTRAINT [FK_Fabric_Warehouse_Cloth] FOREIGN KEY([ID_Cloth])
REFERENCES [dbo].[Cloth] ([ID_Cloth])
GO
ALTER TABLE [dbo].[Fabric_Warehouse] CHECK CONSTRAINT [FK_Fabric_Warehouse_Cloth]
GO
ALTER TABLE [dbo].[Fabrics_product]  WITH CHECK ADD  CONSTRAINT [FK_Fabrics_product_Cloth] FOREIGN KEY([ID_Cloth])
REFERENCES [dbo].[Cloth] ([ID_Cloth])
GO
ALTER TABLE [dbo].[Fabrics_product] CHECK CONSTRAINT [FK_Fabrics_product_Cloth]
GO
ALTER TABLE [dbo].[Fabrics_product]  WITH CHECK ADD  CONSTRAINT [FK_Fabrics_product_Product] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID_Product])
GO
ALTER TABLE [dbo].[Fabrics_product] CHECK CONSTRAINT [FK_Fabrics_product_Product]
GO
ALTER TABLE [dbo].[Hardware_warehouse]  WITH CHECK ADD  CONSTRAINT [FK_Hardware_warehouse_Accessories] FOREIGN KEY([ID_Accessories])
REFERENCES [dbo].[Accessories] ([ID_Accessories])
GO
ALTER TABLE [dbo].[Hardware_warehouse] CHECK CONSTRAINT [FK_Hardware_warehouse_Accessories]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([ID_User])
REFERENCES [dbo].[User] ([ID_User])
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Ordered_products]  WITH CHECK ADD  CONSTRAINT [FK_Ordered_products_Order] FOREIGN KEY([ID_Order])
REFERENCES [dbo].[Order] ([ID_Order])
GO
ALTER TABLE [dbo].[Ordered_products] CHECK CONSTRAINT [FK_Ordered_products_Order]
GO
ALTER TABLE [dbo].[Ordered_products]  WITH CHECK ADD  CONSTRAINT [FK_Ordered_products_Product] FOREIGN KEY([ID_Product])
REFERENCES [dbo].[Product] ([ID_Product])
GO
ALTER TABLE [dbo].[Ordered_products] CHECK CONSTRAINT [FK_Ordered_products_Product]
GO
USE [master]
GO
